@using businessProBms.Models
@model saleViewModel
@{
    ViewBag.Title = "Sales";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }
</style>

<h2>Sales</h2>
<hr />
<div class="well well-sm"><b>Sale Order</b></div>
<form>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container">
        <div class="master">
            <table class="table table-responsive">
                <tr>
                    <td><b>@Html.LabelFor(m => m.sales.saleId)</b></td>
                    <td><b>@Html.LabelFor(m => m.sales.saleDate)</b></td>
                    <td><b>@Html.LabelFor(m => m.sales.customerCode)</b></td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(m => m.sales.saleId, new { placeholder = "Enter Sale ID Here..", @class = "form-control", id = "sid", @readonly="readonly"})
                        @Html.ValidationMessageFor(m => m.sales.saleId)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.sales.saleDate, new { placeholder = "Format:YYYY/MM/DD ", @class = "form-control", id = "sdate" })
                        @Html.ValidationMessageFor(m => m.sales.saleDate)
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.sales.customerCode, new SelectList(ViewBag.customers, "customerCode", "name"),
            "--Select Customer Here--", new { @class = "form-control", id = "ccode" })
                        @Html.ValidationMessageFor(m => m.sales.customerCode)
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-horizontal">
                <div class="form-group">
                    <label>Product</label>
                    @Html.DropDownListFor(m => m.saleDetails.productCode, new SelectList(ViewBag.products, "productCode", "name"),
                              "--Select Product Here--", new { @class = "form-control", id = "pcode", onchange="getquantity()" })
                </div>
                <div class="form-group">
                    <label>Unit Of Measure </label>
                    <input type="text" id="uom" class="form-control" readonly="readonly" />
                    <input type="hidden" id="curQuantity" />
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.saleDetails.quantity, new { @class="label-control"})
                    @Html.TextBoxFor(m => m.saleDetails.quantity, new { placeholder = "Enter Quantity Here..", @class = "form-control", id = "quantity" })
                    @Html.ValidationMessageFor(m=>m.saleDetails.quantity)
                    <span class="error">Valid Quantity Required</span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.saleDetails.salePrice, new { @class = "label-control" })
                    @Html.TextBoxFor(m => m.saleDetails.salePrice, new { placeholder = "Enter Quantity Here..", @class = "form-control", id = "price" })
                    @Html.ValidationMessageFor(m => m.saleDetails.salePrice)
                    <span class="error">Valid Price Required</span>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Save" id="addbtn" class="btn btn-success" aria-hidden="true" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br />
    <div class="col-md-8">
        <table id="listSale" class="table table-condensed">
            <thead>
                <tr>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price(RS)</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <hr />
        <input type="button" class="btn btn-info disabled" value="Save" id="save" />
        <div style="padding:10px 0; text-align:right">
            <a href="@Url.Action("printSaleInvoice", "Sale", new { id = @Model.sales.saleId })"><input id="submit" type="button" value="Print" class="btn btn-warning disabled" style="padding:10px 20px" /></a>
        </div>
    </div>
</div>
<button id="flip" style="margin-left:500px" onclick="myFunction()">Click To Show Sales Table</button>
<div id="panel">
    <div class="search" style="margin-left:390px">
        <input type="text" id="Search" class="form-control input-sm" maxlength="64" placeholder="Search Here.." />
        <button type="button" class="xyz btn-primary btn-sm">Search</button>
    </div>
    <br />
    <br />
    <table class="table table-bordered table-responsive table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sales.saleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sales.saleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sales.customerName)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in ViewBag.sales as List<Sale>)
        {
            <tr class="Search" id="_row@item.saleId">
                <td>
                    @Html.DisplayFor(modelItem => item.saleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.saleDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customerName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.saleId }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil" }) |
                    <a href="#" onclick="getSaleDetails(@item.saleId)"><span class="glyphicon glyphicon-book"></span>&nbsp; Details</a> |
                    <a href="#" onclick="ConfirmDelete(@item.saleId)"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete</a> |
                    @Html.ActionLink("Print", "printSaleInvoice", new { id = item.saleId }, htmlAttributes: new { @class = "glyphicon glyphicon-print" })
                </td>
            </tr>
        }
    </table>
</div>
    <input type="hidden" id="hiddenCode" />
    <div class="modal" id="delModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you Sure you want to delete this?</h4>

                    <div class="modal-body">
                        <p>This item <strong>And Its Details</strong> will be deleted permanently. </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                        <a href="#" class="btn btn-danger" onclick="DeleteSale()">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="delModalDetails">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you Sure you want to delete this?</h4>

                    <div class="modal-body">
                        <p>This item will be deleted permanently. </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                        <a href="#" class="btn btn-danger" onclick="DeleteSale()">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <script src='@Url.Content("~/Scripts/jquery.validate.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")'></script>
    <script src="~/Scriptsi/jquery-1.10.2.min.js"></script>
    <script>
        function getquantity() {
            var id = $("#pcode").val();
            $.ajax({
                url: "/Sale/getProduct",
                data: {id: id},
                dataType: "json",
                success: function(data) {
                    $("#uom").val(data.UOM);
                    var q = data.currentQuantity;
                    $("#curQuantity").val(q);
                },
                error: function(err) {
                    alert("Error : " + err.responseText);
                }
            });
        }
        function myFunction() {
            var x = document.getElementById("panel")
            if (x.style.display === 'none') {
                x.style.display = 'block';

            } else {
                x.style.display = 'none';
            }
        }
        var ConfirmDelete = function (code) {
            $("#hiddenCode").val(code);
            $("#delModal").modal('show');
        }
        var ConfirmDeleteDetail = function (code) {
            $("#hiddenCode").val(code);
            $("#delModalDetails").modal('show');
        }
        var DeleteSale = function () {
            var mid = $("#hiddenCode").val();
            $.ajax({
                type: "POST",
                url: "/Sale/DeleteConfirmed",
                data: { id: mid },
                success: function (result) {
                    $("#myModal").modal("hide");
                    $("#_row_" + mid).remove;
                    window.location = "/Sale/Sales"
                },
                error: function (result) {
                    alert('OOps,Something bad happened');
                }

            })
        }
        $(document).ready(function () {
            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }
            $("#Search").keyup(function () {
                var searchtext = $("#Search").val().toLowerCase();
                $(".Search").each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchtext)) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        });
        $("#addbtn").click(function () {
            var nq = $("#curQuantity").val();
            var uom = $("#uom").val();
            var isAllValid = true;
            if (!($('#quantity').val().trim() != '' && (parseInt($('#quantity').val(), 10) || 0))) {
                isAllValid = false;
                $('#quantity').siblings('span.error').css('visibility', 'visible').text("Qunatity Can not be Zero");
            }
            else {
                $('#quantity').siblings('span.error').css('visibility', 'hidden');
            }
            if ((parseInt($('#quantity').val(), 10) > nq)) {
                isAllValid = false;
                $('#quantity').siblings('span.error').css('visibility', 'visible').text("Available Quantity in Stock is " + nq + " " + uom);
            }
            else {
                $('#quantity').siblings('span.error').css('visibility', 'hidden');
            }
            if (!($('#price').val().trim() != '' && (parseFloat($('#price').val(), 10) || 0) && !isNaN($('#price').val().trim()))) {
                isAllValid = false;
                $('#price').siblings('span.error').css('visibility', 'visible').text("Price Must be Greater Than Zero");
            }
            else {
                $('#price').siblings('span.error').css('visibility', 'hidden');
            }
            if (isAllValid) {
                var val = {};
                val.saleId = $("#sid").val();
                val.saleDate = $("#sdate").val();
                val.customerCode = $("#ccode").val();
                val.customerName = $("#ccode :selected").text();
                val.productCode = $("#pcode").val();
                val.productName = $("#pcode :selected").text();
                val.quantity = parseInt($("#quantity").val(), 10);
                val.salePrice = parseFloat($("#price").val(), 10);
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Sale/Sales/",
                    data: val,
                    success: function (result) {
                        getSaleDetails($("#sid").val());
                        $("#submit").removeClass('disabled');
                        $("#save").removeClass('disabled');
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('There is an error ');
                    }
                });

            }
        })
        function getSaleDetails(element) {
            $.ajax({
                url: "/Sale/getSaleDetails",
                type: "GET",
                data: { id: element },
                dataType: "json",
                success: function (data) {
                    var rows = '';
                    $.each(data.Sales, function (i, item) {
                        rows += "<tr class='Search' id='_row(" + item.code + ")'>"
                        rows += "<td>" + item.productCode + "</td>"
                        rows += "<td>" + item.productName + "</td>"
                        rows += "<td>" + item.quantity + "</td>"
                        rows += "<td>" + item.salePrice + "</td>"
                        rows += "<td>" + item.amount + "</td>"
                        rows += "<td><a href='#' onclick='return getPurchaseById(" + item.code + ")'><span class='glyphicon glyphicon-pencil'></span>Edit</a> |<a href='#' onclick='return ConfirmDeleteDetail(" + item.code + ")'><span class='glyphicon glyphicon-trash'></span>Delete</a></td>"
                        rows += "</tr>";
                        $("#listSale tbody").html(rows);
                        //Show Model
                    });
                    rows += "<tr>"
                    rows += "<td><b>Totals(RS) : </b></td>"
                    rows += "<td>&nbsp;</td>"
                    rows += "<td>&nbsp;</td>"
                    rows += "<td>&nbsp;</td>"
                    rows += "<td>" + data.Total + "</td>"
                    rows += "<td>&nbsp;</td>"
                    rows += "</tr>";
                    $("#listSale tbody").html(rows);
                },
                error: function (err) {
                    alert("Error : " + err.responseText);
                }
            });
        }
 </script>
