@using businessProBms.Models
@model voucherViewModel
@{
    ViewBag.Title = "Vouchers";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>Voucher Entry</h2>
<hr />
<form>
    <div class="container">
        <table class="table table-responsive">
            <tr>
                <td><b>@Html.LabelFor(m => m.voucher.voucherNo)</b></td>
                <td><b>@Html.LabelFor(m => m.voucher.voucherDate)</b></td>
                <td><b>@Html.LabelFor(m => m.VoucherType,"Type of Voucher")</b></td>
            </tr>
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.voucher.voucherNo, new { @class = "form-control", @readonly = "readonly", id = "vno" })
                    @Html.ValidationMessageFor(m => m.voucher.voucherNo)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.voucher.voucherDate, new { @class = "form-control", id = "vdate" })
                    @Html.ValidationMessageFor(m => m.voucher.voucherDate)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.VoucherType, ViewBag.enumList as SelectList, "--Select Voucher Type--", new { @class="form-control", id="vtype"})
                </td>
            </tr>
        </table>
    </div>
</form>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(m => m.voucherDetail.accountNo)
                    @Html.DropDownListFor(m => m.voucherDetail.accountNo, new SelectList(ViewBag.accounts, "code", "name"),
                         "--Select Account--", new { @class = "form-control", id = "vacc" })
                    @Html.ValidationMessageFor(m => m.voucherDetail.accountNo)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.voucherDetail.description, new { @class = "label-control" })
                    @Html.TextAreaFor(m => m.voucherDetail.description, new { @class = "form-control", placeholder = "Enter Description Here..", id = "vdesc" })
                    @Html.ValidationMessageFor(m => m.voucherDetail.description)
                </div>
                <div class="form-group">
                    <label>Amount</label>
                    @Html.TextBoxFor(m => m.voucherDetail.debit, new { @class = "form-control", placeholder = "Enter Amount Here..", id = "debit" })
                    @Html.HiddenFor(m => m.voucherDetail.credit, new { id = "credit" })
                    @Html.ValidationMessageFor(m => m.voucherDetail.debit)
                </div>

                <div class="">
                    <input type="button" value="Debit" id="drbtn" class="btn btn-success" aria-hidden="true" />
                    <input type="button" value="Credit" id="crbtn" class="btn btn-success" aria-hidden="true" />
                </div>

            </div>
        </form>
    </div>
    <br />
    <div class="col-md-8">
        <table id="listExpenses" class="table table-striped">
            <thead>
                <tr>
                    <th>Account No</th>
                    <th>Account Name</th>
                    <th>Description</th>
                    <th>Debit(RS)</th>
                    <th>Credit(RS)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <input type="button" class="btn btn-info disabled" value="Save" id="save" />
        <div style="padding:10px 0; text-align:right">
            <a href="@Url.Action("printExpInvoice", "ExpenseVoucher", new {id= @Model.voucher.voucherNo})"><input id="submit" type="button" value="Print" class="btn btn-warning disabled" style="padding:10px 20px" /></a>
        </div>
    </div>
</div>
<button id="flip" style="margin-left:500px" onclick="myFunction()">Click To Show Voucher Table</button>
<div id ="panel">
    <div class="search" style="margin-left:390px">
        <input type="text" id="Search" class="form-control input-sm" maxlength="64" placeholder="Search Here.." />
        <button type="button" class="xyz btn-primary btn-sm">Search</button>
    </div>
    <br />
    <br />
    <table class="table table-bordered table-striped table-responsive">
        <tr style="color:white; background-color:#0094ff">
            <th>
                @Html.DisplayNameFor(m => m.voucher.voucherNo)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.voucher.voucherDate)
            </th>
            <th>
                Action
            </th>
        </tr>
        @foreach (var item in ViewBag.vouchers as List<Voucher>)
        {
            <tr class="Search" id="_row@item.code">
                <td>
                    @Html.DisplayFor(m => item.voucherNo)
                </td>
                <td>
                    @Html.DisplayFor(m => item.voucherDate)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.voucherNo }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil" }) |*@
                    @*@Html.ActionLink("Details", null, new { id = item.voucherNo }, htmlAttributes: new { @class = "glyphicon glyphicon-book", onclick ="getDetails(@item.voucherNo)" })*@
                    <a href="#" onclick="getDetails(@item.voucherNo)"><span class="glyphicon glyphicon-book"></span>&nbsp; Details</a> |
                    <a href="#" onclick="ConfirmDelete(@item.voucherNo)"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete</a> |
                    @Html.ActionLink("Print", "printExpInvoice", new { id = item.voucherNo }, htmlAttributes: new { @class = "glyphicon glyphicon-print" })
                </td>
            </tr>
        }
    </table>
</div>
<input type="hidden" id="hiddenCode" />
<div class="modal" id="delModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are you Sure you want to delete this?</h4>

                <div class="modal-body">
                    <p>This item <strong>And Its Details</strong> will be deleted permanently. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                    <a href="#" class="btn btn-danger" onclick="DeleteVoucher()">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="delModalDetails">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are you Sure you want to delete this?</h4>

                <div class="modal-body">
                    <p>This item will be deleted permanently. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                    <a href="#" class="btn btn-danger" onclick="DeleteVoucher()">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scriptsi/jquery-1.10.2.min.js"></script>
<script>
    function myFunction() {
        var x = document.getElementById("panel")
        if (x.style.display === 'none') {
            x.style.display = 'block';

        } else {
            x.style.display = 'none';
        }
    }
    var ConfirmDelete = function (code) {
        $("#hiddenCode").val(code);
        $("#delModal").modal('show');
    }
    var ConfirmDeleteDetail = function (code) {
        $("#hiddenCode").val(code);
        $("#delModalDetails").modal('show');
    }
    var DeleteVoucher = function () {
        var mid = $("#hiddenCode").val();
        $.ajax({
            type: "POST",
            url: "/ExpenseVoucher/DeleteConfirmed",
            data: { id: mid },
            success: function (result) {
                $("#myModal").modal("hide");
                $("#_row_" + mid).remove();
                window.location = "/ExpenseVoucher/ExpenseVouchers"
            },
            error: function (result) {
                alert('OOps,Something bad happened');
            }

        })
    }
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchtext = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchtext)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
    $("#drbtn").click(function () {
        var e=0;
        $("#credit").val(e);
        var val = {};
        val.voucherNo = $("#vno").val();
        val.voucherDate = $("#vdate").val();
        val.voucherType=$("#vtype").val();
        val.accountNo = $("#vacc").val();
        val.accountName=$("#vacc :selected").text();
        val.description = $("#vdesc").val();
        val.debit = $("#debit").val();
        val.credit = $("#credit").val();
        $.ajax({
            cache: false,
            type: "POST",
            url: "/ExpenseVoucher/ExpenseVouchers/",
            data: val,
            success: function (result) {
                getDetails($("#vno").val());
                $("#submit").removeClass('disabled');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('There is an error ');
            }
        });
    })
    $("#crbtn").click(function () {
        var cr=$("#debit").val();
        var e=0;
        $("#debit").val(e);
        var val = {};
        val.voucherNo = $("#vno").val();
        val.voucherDate = $("#vdate").val();
        val.accountNo = $("#vacc").val();
        val.accountName=$("#vacc :selected").text();
        val.description = $("#vdesc").val();
        val.debit = $("#debit").val();
        val.credit = cr;
        $.ajax({
            cache: false,
            type: "POST",
            url: "/ExpenseVoucher/ExpenseVouchers/",
            data: val,
            success: function (result) {
                getDetails($("#vno").val());
                $("#submit").removeClass('disabled');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('There is an error ');
            }
        });
    })
    function getDetails(element) {
        $.ajax({
            url: "/ExpenseVoucher/getExpDetails",
            type: "GET",
            data: { id: element },
            dataType: "json",
            success: function (data) {
                var rows = '';
                $.each(data.Exp, function (i, item) {
                    rows += "<tr class='Search' id='_row(" + item.code + ")'>"
                    rows += "<td>" + item.accountNo + "</td>"
                    rows += "<td>" + item.accountName + "</td>"
                    rows += "<td>" + item.description + "</td>"
                    rows += "<td>" + item.debit + "</td>"
                    rows += "<td>" + item.credit + "</td>"
                    rows += "<td><a href='#' onclick='return ConfirmDeleteDetail(" + item.code + ")'><span class='glyphicon glyphicon-trash'></span>Delete</a></td>"
                    rows += "</tr>";
                    $("#listExpenses tbody").html(rows);
                });
                rows += "<tr>"
                rows += "<td><b>Totals : </b></td>"
                rows += "<td>&nbsp;</td>"
                rows += "<td>&nbsp;</td>"
                rows += "<td>" + data.DrTot + "</td>"
                rows += "<td>" + data.CrTot + "</td>"
                rows += "<td>&nbsp;</td>"
                rows += "</tr>";
                $("#listExpenses tbody").html(rows);
                if (data.DrTot == data.CrTot) {
                    $("#save").removeClass('disabled');
                }
                else
                {
                    $("#save").addClass('disabled');
                }
            },
            eror: function (err) {
                alert("Error : " + err.responseText);
            }
        });
    }
    $("#save").click(function () {
        location.reload();
    })
</script>