@using PagedList;
@using PagedList.Mvc;
@using businessProBms.Models
@using System.Web.UI.WebControls
@model Product
@{
    ViewBag.Title = "Product";
}
@{
    var unitOfMeasure = new List<ListItem> {
        new ListItem{Text="Meter", Value="Meter"},
        new ListItem{Text="Yard", Value="Yard"},
        new ListItem{Text="Piece", Value="Piece"}
    };
}
<h2>Products</h2>
<hr />
<div class="row">
    <div class="col-md-4" style="padding-top:28px">
        @using (Html.BeginForm("Add", "Product", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(m => m.productCode, new { @class="label-control"})
                    @Html.TextBoxFor(m => m.productCode, new {@readonly="readonly" ,@class="form-control"})
                    @Html.ValidationMessageFor(m=>m.productCode)
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(m => m.categoryCode, new { @class = "label-control" })*@
                    <label>Category</label>
                    @*@Html.TextBoxFor(m => m.categoryName, new { placeholder="Enter Category Name here..", @class="form-control"})*@
                    @Html.DropDownListFor(m=>m.categoryCode ,new SelectList(ViewBag.cat, "code","categoryName"), 
                    "--Select Category Here--", new { @class = "form-control", id="drp", onchange="myfunc()"})
                    @*@Html.DropDownListFor(m=>m.categoryName, (IEnumerable<SelectListItem>)@ViewBag.cat, "--Select Category Name--", new {id="catCode",
                   @class = "form-control" })*@
                    @Html.ValidationMessageFor(m => m.categoryCode)
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(m => m.categoryName, new { @class = "label-control" })*@
                    @Html.HiddenFor(m => m.categoryName, new { placeholder = "Category Name", @class = "form-control" , @id="txtVal", @readonly=true})
                    @*@Html.ValidationMessageFor(m => m.categoryCode)*@
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(m => m.name, new { @class = "label-control" })
                    @Html.TextBoxFor(m => m.name, new { placeholder = "Enter Product Name Here..", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.name)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.UOM, new { @class = "label-control" })
                    @Html.DropDownListFor(m => m.UOM, new SelectList(unitOfMeasure), "--Select Unit Of Measure--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UOM)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.price, new { @class = "label-control" })
                    @Html.TextBoxFor(m => m.price, new { placeholder = "Enter Product Price(Sale) Here..", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.price)
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-success" aria-hidden="true" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-8">
        <div class="input-group" style=" margin-left: 510px;">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search">
                </i>
            </span><input type="text" id="Search" class="form-control" placeholder="Search Here.." />
        </div><br />
        <table class="table table-bordered table-responsive">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.productCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.categoryCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.categoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UOM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.price)
                </th>
                <th>Action</th>
            </tr>

            @foreach (var item in ViewBag.Products as PagedList<Product>)
            {
                <tr class="Search" id="_row@item.code">
                    <td>
                        @Html.DisplayFor(modelItem => item.productCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.categoryCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.categoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UOM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.productCode }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil" }) |
                        <a href="#" onclick="ConfirmDelete(@item.productCode)"><span class="glyphicon glyphicon-trash"></span>Delete</a>
                    </td>
                </tr>
            }
        </table>
        @Html.PagedListPager(ViewBag.Products as PagedList<Product>, page => Url.Action("Add", new { page }),
                     new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
        <input type="hidden" id="hiddenCode" />
        <div class="modal" id="delModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Are you Sure you want to delete this?</h4>

                        <div class="modal-body">
                            <p>This item will be permanently deleted. </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                            <a href="#" class="btn btn-danger" onclick="DeleteProduct()">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    var ConfirmDelete = function (code) {
        $("#hiddenCode").val(code);
        $("#delModal").modal('show');
    }

    var DeleteProduct = function () {
        var mid = $("#hiddenCode").val();
        $.ajax({
            type: "POST",
            url: "/Product/DeleteConfirmed",
            data: { id: mid },
            success: function (result) {
                $("#myModal").modal("hide");
                $("#_row_" + mid).remove();
                window.location = "/Product/Add"
            },
            error: function (result) {
                alert('OOps,Something bad happened');
            }

        })
    }
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchtext = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchtext)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
    function myfunc(){
        var e = $("#drp :selected").text();
        //document.getElementById("drp").text;
        $('#txtVal').val(e);
        //alert(e);
    }
</script>








