@using businessProBms.Models
@model purchaseViewModel
@{
    ViewBag.Title = "Purchase";
}
<h2>Purchases</h2>
<hr />
<div class="well well-sm"><b>Purchase Order</b></div>
<form>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container">
        <div class="master">
            <table class="table table-responsive">
                <tr>
                    <td><b>@Html.LabelFor(m => m.purchases.purchaseId)</b></td>
                    <td><b>@Html.LabelFor(m => m.purchases.purchaseDate)</b></td>
                    <td><b>@Html.LabelFor(m => m.purchases.vendorCode)</b></td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(m => m.purchases.purchaseId, new { placeholder = "Enter Purchase ID Here..", @class = "form-control", id = "pid", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.purchases.purchaseId)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.purchases.purchaseDate, new { placeholder = "Format:YYYY/MM/DD ", @class = "form-control", id = "pdate" })
                        @Html.ValidationMessageFor(m => m.purchases.purchaseDate)
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.purchases.vendorCode, new SelectList(ViewBag.vendors, "code", "name"),
            "--Select Vendor Here--", new { @class = "form-control", id = "vcode" })
                        @Html.ValidationMessageFor(m => m.purchases.vendorCode)
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-horizontal">
                <div class="form-group">
                    <label>Product</label>
                    @Html.DropDownListFor(m => m.purchaseDetails.productCode, new SelectList(ViewBag.products, "code", "name"),
            "--Select Product Here--", new { @class = "form-control", id = "pcode" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.purchaseDetails.quantity, new { @class = "label-control" })
                    @Html.TextBoxFor(m => m.purchaseDetails.quantity, new { placeholder = "Enter Quantity Here..", @class = "form-control", id = "quantity" })
                    @Html.ValidationMessageFor(m => m.purchaseDetails.quantity)
                    <span class="error">Valid Quantity Required</span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.purchaseDetails.purchasePrice, new { @class = "label-control" })
                    @Html.TextBoxFor(m => m.purchaseDetails.purchasePrice, new { placeholder = "Enter Price Here..", @class = "form-control", id = "price" })
                    @Html.ValidationMessageFor(m => m.purchaseDetails.purchasePrice)
                    <span class="error">Valid Price Required</span>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Save" id="addbtn" class="btn btn-success" aria-hidden="true" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br />
    <div class="col-md-8">
        <table id="listPurchase" class="table table-bordered">
            <thead>
                <tr>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price(RS)</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <table id="total">
            <tr>@ViewBag.total</tr>
        </table>
        <hr />
        <div style="padding:10px 0; text-align:right">
            <a href="@Url.Action("printPurchaseInvoice", "Purchase", new { id = @Model.purchases.purchaseId })"><input id="submit" type="button" value="Print" class="btn btn-warning" style="padding:10px 20px" /></a>
        </div>
    </div>
</div>
<div class="input-group" style="margin-left:820px">
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-search">
        </i>
    </span><input type="text" id="Search" class="form-control" placeholder="Search Here.." />
</div>
<br />
<table class="table table-bordered table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.purchases.purchaseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.purchases.purchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.purchases.vendorName)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in ViewBag.purchases as List<Purchase>)
    {
        <tr class="Search" id="_row@item.saleId">
            <td>
                @Html.DisplayFor(modelItem => item.purchaseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.purchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vendorName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.purchaseId }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil" }) |
                <a href="#" onclick="getPurchaseDetails(@item.purchaseId)"><span class="glyphicon glyphicon-book"></span>&nbsp; Details</a> |
                <a href="#" onclick="ConfirmDelete(@item.purchaseId)"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete</a> |
                @Html.ActionLink("Print", "printPurchaseInvoice", new { id = item.purchaseId }, htmlAttributes: new { @class = "glyphicon glyphicon-print" })
            </td>
        </tr>
    }
</table>
<input type="hidden" id="hiddenCode" />
<div class="modal" id="delModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are you Sure you want to delete this?</h4>

                <div class="modal-body">
                    <p>This item <strong>And Its Details</strong> will be deleted permanently. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                    <a href="#" class="btn btn-danger" onclick="DeletePurchase()">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="delModalDetails">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are you Sure you want to delete this?</h4>

                <div class="modal-body">
                    <p>This item will be deleted permanently. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                    <a href="#" class="btn btn-danger" onclick="DeletePurchase()">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src='@Url.Content("~/Scripts/jquery.validate.js")'></script>
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")'></script>
<script src="~/Scriptsi/jquery-1.10.2.min.js"></script>
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }
</style>
<script>
    var ConfirmDelete = function (code) {
        $("#hiddenCode").val(code);
        $("#delModal").modal('show');
    }
    var ConfirmDeleteDetail = function (code) {
        $("#hiddenCode").val(code);
        $("#delModalDetails").modal('show');
    }
    var DeletePurchase = function () {
        var mid = $("#hiddenCode").val();
        $.ajax({
            type: "POST",
            url: "/Purchase/DeleteConfirmed",
            data: { id: mid },
            success: function (result) {
                $("#myModal").modal("hide");
                $("#_row_" + mid).remove;
                window.location = "/Purchase/Purchases"
            },
            error: function (result) {
                alert('OOps,Something bad happened');
            }

        })
    }
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchtext = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchtext)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
    $("#addbtn").click(function () {
        var isAllValid = true;
        if (!($('#quantity').val().trim() != '' && (parseInt($('#quantity').val(), 10) || 0))) {
            isAllValid = false;
            $('#quantity').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#quantity').siblings('span.error').css('visibility', 'hidden');
        }

        if (!($('#price').val().trim() != '' && (parseFloat($('#price').val(), 10) || 0) && !isNaN($('#price').val().trim()))) {
            isAllValid = false;
            $('#price').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#price').siblings('span.error').css('visibility', 'hidden');
        }
        if (isAllValid) {
            var val = {};
            val.purchaseId = $("#pid").val();
            val.purchaseDate = $("#pdate").val();
            val.vendorCode = $("#vcode").val();
            val.vendorName = $("#vcode :selected").text();
            val.productCode = $("#pcode").val();
            val.productName = $("#pcode :selected").text();
            val.quantity = parseInt($("#quantity").val(), 10);
            val.purchasePrice = parseFloat($("#price").val(), 10);
            $.ajax({
                cache: false,
                type: "POST",
                url: "/Purchase/Purchases/",
                data: val,
                success: function (result) {
                    getPurchaseDetails($("#pid").val());
                    $("#total tr").html("<b>Total(RS): </b> " + result);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('There is an error ');
                }
            });

        }
    })
    function getPurchaseDetails(element) {
        $.ajax({
            url: "/Purchase/getPurchaseDetails",
            type: "GET",
            data: { id: element },
            dataType: "json",
            success: function (data) {
                var rows = '';
                $.each(data.Purchase, function (i, item) {
                    rows += "<tr class='Search' id='_row(" + item.code + ")'>"
                    rows += "<td>" + item.productCode + "</td>"
                    rows += "<td>" + item.productName + "</td>"
                    rows += "<td>" + item.quantity + "</td>"
                    rows += "<td>" + item.purchasePrice + "</td>"
                    rows += "<td>" + item.amount + "</td>"
                    rows += "<td><a href='#' onclick='return getPurchaseById(" + item.code + ")'><span class='glyphicon glyphicon-pencil'></span>Edit</a> |<a href='#' onclick='return ConfirmDeleteDetail(" + item.code + ")'><span class='glyphicon glyphicon-trash'></span>Delete</a></td>"
                    rows += "</tr>";
                    $("#listPurchase tbody").html(rows);
                    //Show Model
                });
                $("#total tr").html("<b>Total(RS): </b> " + data.Total);
            },
            eror: function (err) {
                alert("Error : " + err.responseText);
            }
        });
    }
</script>